---
pagination:
  data: data.items
  size: 1
  alias: item
permalink: "episodes/{{ item.itunes.episode }}/index.html"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content=">{{ item.title }}——牛油果烤面包（Avocado Toast）出品" />
    <meta
      property="og:description"
      content="{{ item.contentSnippet }}"
    />
    <meta property="og:url" content="https://avocadotoast.live/episodes/{{ item.itunes.episode }}/" />
    <meta
      property="og:image"
      content="{{ item.itunes.image }}"
    />
    <meta property="fb:pages" content="319695031499949" />
    <title>{{ item.title }}——牛油果烤面包（Avocado Toast）出品</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href="https://avocadotoast.live/episodes/{{ item.itunes.episode }}/" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="https://avocadotoast.live/">{{ feed.title }}</a>
    </nav>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-4 mb-4">
          <img
            class="img-fluid"
            src="{{ item.itunes.image }}"
            alt="cover art"
          />
        </div>
        <div class="col-md-8">
          <h1>{{ item.title }}</h1>
          <div class="text-muted">牛油果烤面包（Avocado Toast）</div>
          <audio class="w-100" src="{{ item.enclosure.url }}" controls preload>
          </audio>
          <div>{{ item.itunes.summary }}</div>
        </div>
      </div>
    </div>
    {% if environment.NODE_ENV == 'development' %}
      <script>
        console.log({{ item | log }});
      </script>
    {% endif %}
    <script src="/js/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
