---
pagination:
  data: data.items
  size: 1
  alias: item
permalink: "episodes/{{ item.itunes.episode }}/player/index.html"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no"
    />
    <title>{{ item.title }}——牛油果烤面包（Avocado Toast）出品</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/site.css" crossorigin="anonymous" />
    <link rel="canonical" href="https://avocadotoast.live/episodes/{{ item.itunes.episode }}/" />
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161595329-1', {
        custom_map: {
          'dimension1': 'episode',
          'dimension2': 'platform'
        },
        episode: '{{ item.itunes.episode }}'
      });
    </script>
  </head>
  <body>
    <div class="square">
      <picture>
        {% for type in item.itunes.images %}
          <source
            type="{{ type.type }}"
            srcset="{% for size in type.sizes %}{{ size.image }} {{ size.size }}w{% if forloop.last != true %}, {% endif %}{% endfor %}"
            sizes="100vw"
          />
        {% endfor %}
        <img
          class="img-fluid square-image-item"
          src="{{ item.itunes.image }}"
          alt="cover art"
        />
      </picture>
      <div class="fixed-bottom position-absolute p-2">
        <audio class="w-100 audio-bar" controls preload autoplay>
          {% for enclosure in item.enclosures %}
            <source src="{{ enclosure.url}}" data-platform="{{ enclosure.platform }}" />
          {% endfor %}
        </audio>
      </div>
    </div>
    {% if environment.NODE_ENV == 'development' %}
      <script>
        console.log({{ item | log }});
      </script>
    {% endif %}
    <script src="/js/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="/js/site.js" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161595329-1"></script>
    {% include facebook_pixel %}
  </body>
</html>
