---
pagination:
  data: data.items
  size: 1
  alias: item
permalink: "episodes/{{ item.itunes.episode }}/index.html"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content=">牛油果烤面包（Avocado Toast）：{{ item.title }}" />
    <meta
      property="og:description"
      content="{{ item.contentSnippet }}"
    />
    <meta property="og:url" content="https://avocadotoast.live/episodes/{{ item.itunes.episode }}/" />
    <meta
      property="og:image"
      content=""
    />
    <meta property="fb:pages" content="319695031499949" />
    <title>牛油果烤面包（Avocado Toast）：{{ item.title }}</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href="https://avocadotoast.live/episodes/{{ item.itunes.episode }}/" />
  </head>
  <body>
    {{ item.title }}
  </body>
</html>
