<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="牛油果烤面包（Avocado Toast）" />
    <meta
      property="og:description"
      content="这是一档来自湾区面向中文听众的科技节目。我们是主持人斯图亚特、Sean Wang 和 Cat Chen。我们都来自于科技行业，想要通过这一档节目跟大家聊聊现在的科技趋势。"
    />
    <meta property="og:url" content="https://avocadotoast.live/" />
    <meta
      property="og:image"
      content="{{ data.image.url }}"
    />
    <meta property="fb:pages" content="319695031499949" />
    <title>牛油果烤面包（Avocado Toast）</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href="https://avocadotoast.live/" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="https://avocadotoast.live/">{{ data.title }}</a>
    </nav>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="img-thumbnail">
            <div style="width: 100%; height: 0; padding-top: 100%; position: relative;">
              <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-size: contain; background-image: url({{ data.itunes.images[0] }}){% for image in data.itunes.images offset:1 %}, url({{ image }}){% endfor %}">
              </div>
              <img
                class="img-fluid"
                src="{{ data.itunes.image }}"
                alt="cover art"
                style="position: absolute; top: 0;"
                onerror="this.style.visibility='hidden'"
              />
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div>{{ data.itunes.summary }}</div>
        </div>
      </div>
    </div>
    {% if environment.NODE_ENV == 'development' %}
      <script>
        console.log({{ data | log }});
      </script>
    {% endif %}
    <script src="/js/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
