<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no,viewport-fit=cover"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ item.title }}——牛油果烤面包（Avocado Toast）出品" />
    <meta property="og:description" content="{{ item.contentSnippet | strip_newlines }}" />
    <meta property="og:url" content="https://avocadotoast.live/episodes/{{ item.itunes.episode }}/" />
    <meta property="og:image" content="https://avocadotoast.live{{ item.itunes.images.map['image/jpeg'][1280] }}" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="1280" />
    <meta property="fb:pages" content="319695031499949" />
    <meta name="twitter:card" content="player" />
    <meta name="twitter:site" content="@avocado___toast" />
    <meta name="twitter:title" content="{{ item.title }}——牛油果烤面包（Avocado Toast）出品" />
    <meta name="twitter:description" content="{{ item.contentSnippet | strip_newlines }}" />
    <meta name="twitter:image" content="https://avocadotoast.live{{ item.itunes.image }}" />
    <meta name="twitter:player" content="https://avocadotoast.live/episodes/{{ item.itunes.episode }}/player/" />
    <meta name="twitter:player:width" content="480" />
    <meta name="twitter:player:height" content="480" />
    <title>{{ item.title }}——牛油果烤面包（Avocado Toast）出品</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/site.css" crossorigin="anonymous" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" href="/favicon.ico" />
    <link rel="canonical" href="https://avocadotoast.live/episodes/{{ item.itunes.episode }}/" />
    <link rel="alternate" type="application/rss+xml" href="https://avocadotoast.typlog.io/episodes/feed.xml">
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-161595329-1', {
        custom_map: {
          'dimension1': 'episode',
          'dimension2': 'platform',
          'dimension3': 'variation'
        },
        variation: '{{ environment.BRANCH || environment.NODE_ENV }}',
        episode: '{{ item.itunes.episode }}'
      });
    </script>
    {% include image_error_script %}
  </head>
  <body>
    {% include navigation_bar %}
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-4 mb-3">
          <div class="img-thumbnail">
            <div class="square">
              <picture>
                {% for type in item.itunes.images.array %}
                  <source
                    type="{{ type.type }}"
                    srcset="{% for size in type.sizes %}{{ size.image }} {{ size.size }}w{% if forloop.last != true %}, {% endif %}{% endfor %}"
                    sizes="(min-width: 1200px) 340px, (min-width: 992px) 280px, (min-width: 768px) 200px, (min-width: 768px) 500px, calc(100vw - 40px)"
                  />
                {% endfor %}
                <img
                  class="img-fluid square-image-item"
                  src="{{ item.itunes.images.map['image/jpeg'][480] }}"
                  alt="cover art"
                />
              </picture>
              <div class="fixed-bottom position-absolute p-2">
                <audio class="w-100 audio-bar" controls preload>
                  {% for enclosure in item.enclosures %}
                    <source src="{{ enclosure.url}}" data-platform="{{ enclosure.platform }}" />
                  {% endfor %}
                </audio>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="sticky-platform-list d-md-none sticky-top bg-white mb-3">
            {% include platform_list %}
          </div>
          <h1 class="episode-title">{{ item.title }}</h1>
          <div class="text-muted mb-2">
            <span data-date="{{ item.pubDate }}">{{ item.pubDate | date: '%Y 年 %m 月 %d 日' }}</span>发布
          </div>
          <div class="buttons mb-2">
            <button type="button" class="btn btn-primary d-none share-button">
              分享
            </button>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              订阅
            </button>
            {% include subscription_links %}
          </div>
          <div>{{ item.itunes.summary }}</div>
        </div>
      </div>
      <hr class="mb-4" />
      {% include disqus, episode: item.itunes.episode %}
      <hr class="mb-4" />
      <div class="row justify-content-center">
        <h2 class="mb-3">往期节目</h2>
      </div>
      {% include episode_list, episode: item.itunes.episode %}
    </div>
    {% if environment.NODE_ENV == 'development' %}
      <script>
        console.log({{ item | log }});
      </script>
    {% endif %}
    <script src="/js/jquery-3.4.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="/js/moment.min.js" crossorigin="anonymous"></script>
    <script src="/js/zh-cn.min.js" crossorigin="anonymous"></script>
    <script src="/js/site.js" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161595329-1"></script>
    {% include facebook_pixel %}
  </body>
</html>
