<div class="episode-list row">
  <div class="col">
    <ul class="list-group">
      {% for item in data.items %}
        <li class="list-group-item list-group-item-action p-0{% if episode == item.itunes.episode %} active{% endif %}">
          <a href="/episodes/{{ forloop.rindex }}" class="text-reset text-decoration-none">
            <div class="row no-gutters">
              <div class="d-none col-12 d-md-block col-md-2">
                <div class="img-thumbnail my-4 ml-4">
                  <div class="square">
                    <picture>
                      {% for type in item.itunes.images.array %}
                        <source
                          type="{{ type.type }}"
                          srcset="{% for size in type.sizes %}{{ size.image }} {{ size.size }}w{% if forloop.last != true %}, {% endif %}{% endfor %}"
                          sizes="(min-width: 1200px) 150px, (min-width: 992px) 120px, (min-width: 768px) 80px, 0"
                        />
                      {% endfor %}
                      <img
                        class="img-fluid square-image-item"
                        src="{{ item.itunes.images.map['image/jpeg'][160] }}"
                        loading="lazy"
                        alt="cover art"
                      />
                    </picture>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-10">
                <div class="card-body">
                  <h2 class="card-title text-truncate">
                    {{ item.title }}
                  </h2>
                  <div class="card-text text-truncate text-truncate-3">
                    {{ item.contentSnippet }}
                  </div>
                  <div class="card-text mt-2">
                    <small{% if episode != item.itunes.episode %} class="text-muted"{% endif %}>
                      <span data-date="{{ item.pubDate }}">{{ item.pubDate | date: '%Y 年 %m 月 %d 日' }}</span>发布
                    </small>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
