<!--Country: {{ country }}; IncrementalID: {% increment incrementalID %}-->
<ul class="list-group list-group-horizontal flex-wrap justify-content-between ml-auto">
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="Apple Podcasts" href="{% if country == 'CN' %}https://podcasts.apple.com/cn/podcast/id1520154407{% else %}https://podcasts.apple.com/podcast/id1479918340{% endif %}" class="d-flex p-2 px-md-1 p-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <img src="/images/platforms/apple_podcasts.png" srcset="/images/platforms/apple_podcasts.png 1x, /images/platforms/apple_podcasts@2x.png 2x" alt="Apple Podcasts Logo" height="28" width="28">
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="Overcast" href="https://overcast.fm/itunes1479918340/avocado-toast" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <img src="/images/platforms/overcast.png" srcset="/images/platforms/overcast.png 1x, /images/platforms/overcast@2x.png 2x" alt="Overcast Logo" height="28" width="28">
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="Spotify" href="https://open.spotify.com/show/3royq81yR8oRcdC0KxXBhY" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <img src="/images/platforms/spotify.png" srcset="/images/platforms/spotify.png 1x, /images/platforms/spotify@2x.png 2x" alt="Spotify Logo" height="28" width="28">
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="Pocket Casts" href="https://pca.st/xvtd6yu4" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <img src="/images/platforms/pocket_casts.png" srcset="/images/platforms/pocket_casts.png 1x, /images/platforms/pocket_casts@2x.png 2x" alt="Pocket Casts Logo" height="28" width="28">
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="Castro" href="https://castro.fm/itunes/1479918340" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <svg width="28px" height="28px" viewBox="0 0 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
              <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="linearGradient-1-{{ incrementalID }}">
                  <stop stop-color="#00CCBF" offset="0%"></stop>
                  <stop stop-color="#00B265" offset="100%"></stop>
              </linearGradient>
              <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="linearGradient-2-{{ incrementalID }}">
                  <stop stop-color="#151515" offset="0%"></stop>
                  <stop stop-color="#353535" offset="100%"></stop>
              </linearGradient>
          </defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="c2icon-copy">
                  <path d="M11.8538809,6.640625e-05 L22.1461191,6.640625e-05 C25.5594004,6.640625e-05 27.2659082,6.640625e-05 29.1031699,0.580955078 C31.1089375,1.31102539 32.6889746,2.8910625 33.4191113,4.89689648 C33.9999336,6.73402539 33.9999336,8.44059961 33.9999336,11.8538809 L33.9999336,22.1461191 C33.9999336,25.5594004 33.9999336,27.2659082 33.4191113,29.1031699 C32.6889746,31.1089375 31.1089375,32.6889746 29.1031699,33.4189785 C27.2659082,33.9999336 25.5594004,33.9999336 22.1461191,33.9999336 L11.8538809,33.9999336 C8.44059961,33.9999336 6.73402539,33.9999336 4.89689648,33.4189785 C2.8910625,32.6889746 1.31102539,31.1089375 0.580955078,29.1031699 C6.640625e-05,27.2659082 6.640625e-05,25.5594004 6.640625e-05,22.1461191 L6.640625e-05,11.8538809 C6.640625e-05,8.44059961 6.640625e-05,6.73402539 0.580955078,4.89689648 C1.31102539,2.8910625 2.8910625,1.31102539 4.89689648,0.580955078 C6.73402539,6.640625e-05 8.44059961,6.640625e-05 11.8538809,6.640625e-05 L11.8538809,6.640625e-05" id="path-1" fill="url(#linearGradient-1-{{ incrementalID }})"></path>
                  <path d="M17.0166016,2.22460938 C25.185998,2.22460938 31.8085937,8.84069727 31.8085937,17.0020586 C31.8085937,25.1634531 25.185998,31.779541 17.0166016,31.779541 C8.84720508,31.779541 2.22460938,25.1634531 2.22460938,17.0020586 C2.22460938,8.84069727 8.84720508,2.22460938 17.0166016,2.22460938 Z" id="path-2" fill="url(#linearGradient-2-{{ incrementalID }})"></path>
                  <path d="M23.1715645,25.4293437 L20.6914902,21.9926543 C22.249082,20.8536211 23.2608809,19.0139023 23.2608809,16.9378105 C23.2608809,13.4801035 20.455084,10.6770957 16.9939238,10.6770957 C13.5327969,10.6770957 10.727,13.4801035 10.727,16.9378105 C10.727,19.023 11.7476973,20.8697578 13.316877,22.0075957 L10.8349434,25.4469414 C8.19662305,23.5391895 6.47985547,20.4378184 6.47985547,16.9354531 C6.47985547,11.1359961 11.1859336,6.43459961 16.991168,6.43459961 C22.7964023,6.43459961 27.5024805,11.1359961 27.5024805,16.9354531 C27.5024805,20.4270937 25.7961387,23.5201309 23.1715645,25.4293437 Z M17.0144766,14.4014238 C18.4110664,14.4014238 19.5432598,15.5324883 19.5432598,16.9276836 C19.5432598,18.3229121 18.4110664,19.4539434 17.0144766,19.4539434 C15.6178535,19.4539434 14.4856934,18.3229121 14.4856934,16.9276836 C14.4856934,15.5324883 15.6178535,14.4014238 17.0144766,14.4014238 Z" id="path-3" fill="#FFFFFF"></path>
              </g>
          </g>
      </svg>
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="小宇宙" href="https://www.xiaoyuzhoufm.com/podcasts/5e7c8b2b418a84a046e3ecbc" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" width="28px" height="28px" viewBox="0 0 27 21" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M3.8068 13.8506C2.72636 15.0006 1.7557 16.1369 1.07532 17.1069C0.688153 17.6589 0.365262 18.1985 0.179906 18.6813C0.0872565 18.9226 0.0123085 19.1917 0.00135581 19.4668C-0.00983077 19.7477 0.0452962 20.0893 0.275915 20.3889C0.60241 20.813 1.08255 20.9569 1.48661 20.9908C1.89298 21.0249 2.34264 20.9613 2.797 20.8494C3.7121 20.6239 4.85337 20.1486 6.12799 19.495C8.69011 18.1811 11.9504 16.0631 15.3144 13.4566C18.6783 10.8501 21.5448 8.2206 23.4595 6.06567C24.412 4.99363 25.1588 4.00593 25.6075 3.17467C25.8303 2.76193 26.0052 2.34153 26.0751 1.93846C26.1445 1.53768 26.127 1.03525 25.8005 0.611151C25.4098 0.103651 24.8055 -0.00349896 24.3391 8.58472e-05C23.8502 0.00384249 23.2905 0.126515 22.7041 0.315277C21.5412 0.689605 20.0711 1.39135 18.4285 2.33199C16.9092 1.37567 15.1119 0.822702 13.186 0.822702C7.7305 0.822702 3.30795 5.25954 3.30795 10.7327C3.30795 11.822 3.48314 12.8702 3.8068 13.8506ZM19.9229 3.485C20.2607 3.80124 20.5765 4.14097 20.8675 4.50161C19.106 6.41251 16.5375 8.74811 13.4974 11.1037C10.4411 13.4719 7.5247 15.3826 5.231 16.6088C4.99012 16.2811 4.76888 15.938 4.569 15.5813C3.73031 16.5018 3.00785 17.3718 2.4921 18.1071C2.15424 18.5888 1.93146 18.9759 1.81538 19.2585C1.95637 19.2492 2.14395 19.2206 2.38377 19.1615C3.10885 18.9829 4.11256 18.5766 5.3395 17.9474C7.78048 16.6957 10.9495 14.6427 14.2554 12.0811C17.5613 9.51953 20.3422 6.96226 22.1663 4.90922C23.0831 3.87727 23.7286 3.00567 24.0841 2.34701C24.2272 2.08199 24.3072 1.88061 24.3462 1.73809C24.1088 1.74099 23.7418 1.8065 23.2334 1.97017C22.3702 2.24803 21.2435 2.76067 19.9229 3.485Z" fill="url(#paint0_linear_{{ incrementalID }})"/>
        <path d="M13.186 20.6426C11.5124 20.6426 9.93594 20.2251 8.5546 19.4881C10.8119 18.1702 13.3919 16.4168 16.02 14.3804C18.6336 12.3553 20.9652 10.3056 22.802 8.45565C22.9734 9.18676 23.064 9.94909 23.064 10.7327C23.064 16.2058 18.6415 20.6426 13.186 20.6426Z" fill="url(#paint1_linear_{{ incrementalID }})"/>
        <defs>
          <linearGradient id="paint0_linear_{{ incrementalID }}" x1="13.0541" y1="-15.1159" x2="13.0541" y2="33.2923" gradientUnits="userSpaceOnUse">
            <stop offset="0.369792" stop-color="#25B4E1"/>
            <stop offset="1" stop-color="#E5D5BE"/>
          </linearGradient>
          <linearGradient id="paint1_linear_{{ incrementalID }}" x1="13.0541" y1="-15.1159" x2="13.0541" y2="33.2923" gradientUnits="userSpaceOnUse">
            <stop offset="0.369792" stop-color="#25B4E1"/>
            <stop offset="1" stop-color="#E5D5BE"/>
          </linearGradient>
        </defs>
      </svg>
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="喜马拉雅" href="https://www.ximalaya.com/keji/29161862/" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <img src="/images/platforms/ximalaya.png" srcset="/images/platforms/ximalaya.png 1x, /images/platforms/ximalaya@2x.png 2x" alt="Ximalaya Logo" height="28" width="28">
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="Moon.fm" href="https://moon.fm/podcasts/710086" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <img src="/images/platforms/moon_fm.png" srcset="/images/platforms/moon_fm.png 1x, /images/platforms/moon_fm@2x.png 2x" alt="Moon.fm Logo" height="28" width="28">
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="Breaker" href="https://www.breaker.audio/niu-you-guo-kao-mian-bao-avocado-toast" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <img src="/images/platforms/breaker.png" srcset="/images/platforms/breaker.png 1x, /images/platforms/breaker@2x.png 2x" alt="Breaker Logo" height="28" width="28">
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="Castbox" href="https://castbox.fm/channel/id2366086" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <img src="/images/platforms/castbox.png" srcset="/images/platforms/castbox.png 1x, /images/platforms/castbox@2x.png 2x" alt="Castbox Logo" height="28" width="28">
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="Google Podcasts" href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy9lM2UxZmQwL3BvZGNhc3QvcnNz" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <img src="/images/platforms/google_podcasts_outline.png" srcset="/images/platforms/google_podcasts_outline.png 1x, /images/platforms/google_podcasts_outline@2x.png 2x" alt="Google Podcasts Logo" height="28" width="28">
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="PodBean" href="https://www.podbean.com/podcast-detail/i3fdq-a0178/%E7%89%9B%E6%B2%B9%E6%9E%9C%E7%83%A4%E9%9D%A2%E5%8C%85%EF%BC%88Avocado-Toast%EF%BC%89-Podcast" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <img src="/images/platforms/podbean.png" srcset="/images/platforms/podbean.png 1x, /images/platforms/podbean@2x.png 2x" alt="PodBean Logo" height="28" width="28">
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="RadioPublic" href="https://radiopublic.com/https%3A%2F%2Fanchor.fm%2Fs%2Fe3e1fd0%2Fpodcast%2Frss" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <img src="/images/platforms/radiopublic.png" srcset="/images/platforms/radiopublic.png 1x, /images/platforms/radiopublic@2x.png 2x" alt="RadioPublic Logo" height="28" width="28">
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="Stitcher" href="https://www.stitcher.com/podcast/avocado-toast" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <img src="/images/platforms/stitcher_dark.png" srcset="/images/platforms/stitcher_dark.png 1x, /images/platforms/stitcher_dark@2x.png 2x" alt="Stitcher Logo" height="28" width="28">
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="TuneIn" href="https://tunein.com/podcasts/Podcasts/Avocado-Toast-p1250687/" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <img src="/images/platforms/tune_in.png" srcset="/images/platforms/tune_in.png 1x, /images/platforms/tune_in@2x.png 2x" alt="TuneIn Logo" height="28" width="28">
    </a>
  </li>
  <li class="list-group-item bg-transparent border-0 p-0">
    <a title="RSS Feed" href="https://avocadotoast.typlog.io/episodes/feed.xml" class="d-flex p-2 px-md-1 px-lg-2 text-black-50" rel="noopener noreferrer" target="_blank">
      <svg width="28" height="28" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" class="">
        <g fill="none" fill-rule="evenodd">
          <rect fill="#FE8A4C" width="28" height="28" rx="6"></rect>
          <path d="M6.822 18.5361504c.74088889 0 1.36666667.2645781 1.87755556.7932873.51866666.5139607.77777777 1.1398755.77777777 1.877074 0 .7371984-.25911111 1.3666886-.77777777 1.888247-.51088889.5139608-1.13666667.7707177-1.87755556.7707177-.73355556 0-1.35555556-.2567569-1.86666667-.7707177-.51088889-.5215584-.76644444-1.1508251-.76644444-1.888247 0-.737422.25555555-1.3633368.76644444-1.877074.51133334-.5289327 1.13311111-.7932873 1.86666667-.7932873zm-2.54422222-6.9831622c.17022222-.1937408.38488889-.3054714.644-.3351918v-.011173h1.08888889c2.97044444 0 5.51133333 1.0576418 7.62244443 3.1731489 2.1111111 2.1003117 3.1775556 4.6441939 3.2 7.6309762v1.0614406h-.0113333c-.0222222.2382097-.1184445.4431236-.2891111.6145183-.1702223.1713947-.3775556.2719523-.622.3018961v.011173h-1.8555556c-.2595555-.0073742-.4853333-.0969821-.678-.2681534-.1926667-.1861432-.3037778-.4058055-.3333333-.6592105h-.0113334v-1.0614407h.0113334c-.0222222-1.9291404-.7148889-3.5791778-2.0777778-4.9494419-1.38533333-1.3633367-3.03733333-2.0446699-4.95577778-2.0446699h-.04355555v.0111731H4.92177778v-.0111731c-.23688889-.0299438-.44444445-.126479-.622-.2904995-.17066667-.1713947-.26311111-.379884-.27777778-.6256913H4v-1.8661244c.01466667-.2607792.10711111-.4880393.27777778-.6815567zM4 6.89382242v-1.877074c.01466667-.26077921.10711111-.48803924.27777778-.68155663.17022222-.19374086.38488889-.30547145.644-.33519179h1.08888889C10.9515556 4 15.1813333 5.75774572 18.6995556 9.27368409 22.2182222 12.7967732 23.9848889 17.0425358 24 22.0109719v1.0614407h-.0113333c-.0295556.2382096-.1257778.4431235-.2891111.6145183-.1702223.1713947-.3775556.2719522-.622.301896V24h-1.8553334c-.2595555-.0073742-.4853333-.0969822-.678-.2681534-.1926666-.1861432-.3037778-.4058056-.3333333-.6592105h-.0113333v-1.0614407h.0113333c-.0146667-3.918392-1.4108889-7.2627121-4.1886667-10.0336309-2.7704444-2.78589066-6.10755553-4.17872426-10.01133331-4.17872426h-.04422222v.01117306H4.92177778v-.01117306c-.23688889-.02256958-.44444445-.11910482-.622-.29049955-.17066667-.1716182-.26311111-.37630865-.27777778-.61451827H4z" fill="#FFF" fill-rule="nonzero"></path>
        </g>
      </svg>
    </a>
  </li>
</ul>
